/* YeyeYeee código aquí */
.secion{
  background-color: black;
}
.title{
  text-align: center;
}
img{
  height: 9em;
}
h1{
  text-align: center;
  color: #FF9800;
}
h3{
  color: white;
}


/*  */

.back {
  /* background: #e2e2e2; */
  width: 100%;
  position: absolute;
  top: 8%;
  bottom: 0;
}

.div-center {
  width: 400px;
  height: 400px;
  color: white;
  background-color:black;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 1em 2em;
  border-bottom: 2px solid #ccc;
  display: table;
}

div.content {
  display: table-cell;
  vertical-align: middle;
}